.teams {

  &-title {
    font-family: 'F1-Regular';
    letter-spacing: 2px;
    color: $red;
    margin: 3.75rem 0 0 3.75rem;
  }

  &-schema {
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
    margin: 3.75rem 3.75rem 0 3.75rem;
    padding-bottom: 6.25rem;

    &-container {
      height: 8.75rem;

      &-image {
        width: 6.25rem;
        height: auto;
      }

      &:hover {
        cursor: pointer;
      }

      &-Mercedes:hover {
        background-color: $colorMercedes;
      }

      &-Red:hover {
        background-color: $colorRedBull;
      }

      &-Ferrari:hover {
        background-color: $colorFerrari;
      }

      &-McLaren:hover {
        background-color: $colorMcLaren;
      }

      &-Alpine:hover {
        background-color: $colorAlpine;
      }

      &-AlphaTauri:hover {
        background-color: $colorAlphaTauri;
      }

      &-Aston:hover {
        background-color: $colorAston;
      }
      &-Alfa:hover {
        background-color: $colorAlfa;
      }

      &-Haas:hover {
        background-color: $colorHaas;
      }

      &-Williams:hover {
        background-color: $colorWilliams;
      }
    }
  }
}
