@import "../../../assets/scss/styles.scss";

.navbar {
  &-bollo {
    ::ng-deep .p-menubar {
      background-color: $red;
    }

    ::ng-deep .p-menubar-root-list {
      background-color: $red;
    }

    ::ng-deep .p-button {
      background-color: $fantasyblue !important;
    }
  }

  &-fantasy {
    ::ng-deep .p-menubar {
      background-color: $fantasyblue;
    }

    ::ng-deep .p-menubar-root-list {
      background-color: $fantasyblue;
    }

    ::ng-deep .p-button {
      background-color: $red !important;
    }
  }

  ::ng-deep .p-menubar-root-list {
    border: 0;
    box-shadow: none;
    margin-left: 3rem;
  }

  ::ng-deep .p-button-label {
    color: white !important;
  }
}
