@import "../../../assets/scss/styles.scss";

.navbar {
  background-color: $red;
  height: 4.7rem;

  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-collapse.in {
    display: block !important;
    padding: 1rem 0;
  }

  &-toggler {
    border-color: rgb(255, 255, 255);

    &-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .logo {
    width: 4.25rem;
    height: auto;
  }


  .navbar-collapse {
    margin-left: 7rem;
  }

  .nav-item {
    font-size: 19px;
    font-family: 'F1-Regular';

    a:hover {
      color: black !important;
      font-weight: bold !important;
    }

    .active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: -13px;
        height: 10px;
        width: 10px;
        border-radius: 10rem;
        background-color: black;
      }

      color: black !important;
      font-weight: bold !important;
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    height: auto !important;

    &-brand {
      position: relative !important;
    }

    .logo {
      margin-left: 5rem;
    }

    &-collapse {
      margin-left: 0 !important ;
    }
  }
}
