<div class="navbar" [ngClass]="isFantasy ? 'navbar-fantasy' : 'navbar-bollo'">
  @if (isFantasy) {
    <p-menubar [model]="authJWTService.isUserLogged ? fantasyLinksClose : fantasyLinksLogIn">
      <ng-template pTemplate="start">
        <img
          src="../../../assets/images/logo.png"
          alt="Logo"
          class="logo mx-3 cursor-pointer"
          [routerLink]="routerLink"
          (click)="resetSelectedNavItem()"
        />
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center">
          <div class="mr-2 p-2 surface-0 border-round-md h-2rem cursor-pointer" (click)="themeService.changeTheme(); isDarkTheme = !isDarkTheme">
            @if (isDarkTheme) {
              <i class="pi pi-moon text-900"></i>
            } @else {
              <i class="pi pi-sun text-900"></i>
            }
          </div>
        <p-button
          label="Formula"
          [raised]="true"
          routerLink="/"
          (click)="resetSelectedNavItem()"
          class="mr-3 bolloLinks">
        </p-button>
        </div>
      </ng-template>
    </p-menubar>
  } @else {
    <p-menubar [model]="bolloLinks">
      <ng-template pTemplate="start">
        <img
          src="../../../assets/images/logo.png"
          alt="Logo"
          class="logo mx-3 cursor-pointer"
          [routerLink]="routerLink"
          (click)="resetSelectedNavItem()"
        />
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center">
          <div class="mr-2 p-2 surface-0 border-round-md h-2rem cursor-pointer" (click)="themeService.changeTheme(); isDarkTheme = !isDarkTheme">
            @if (isDarkTheme) {
              <i class="pi pi-sun text-900 font-bold"></i>
            } @else {
              <i class="pi pi-moon text-900 font-bold"></i>
            }
          </div>
          <p-button
            label="Fantasy"
            [raised]="true"
            routerLink="/fantasy"
            (click)="resetSelectedNavItem()"
            class="mr-3 fantasyLinks">
          </p-button>
        </div>
      </ng-template>
    </p-menubar>
  }
</div>

<router-outlet></router-outlet>
