.bg-Red_Bull {
  background-color: $colorRedBull;
}

.bg-AlphaTauri {
  background-color: $colorAlphaTauri;
}

.bg-Ferrari {
  background-color: $colorFerrari;
}

.bg-Mercedes {
  background-color: $colorMercedes;
}

.bg-Aston_Martin {
  background-color: $colorAston;
}

.bg-Williams {
  background-color: $colorWilliams;
}

.bg-Haas {
  background-color: $colorHaas;
}

.bg-McLaren {
  background-color: $colorMcLaren;
}

.bg-Alfa_Romeo_Racing {
  background-color: $colorAlfa;
}

.bg-Alpine {
  background-color: $colorAlpine;
}

.bg-Fantasy-Red_Bull {
  background: $colorRedBull url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-AlphaTauri {
  background: $colorAlphaTauri url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Ferrari {
  background: $colorFerrari url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Mercedes {
  background: $colorMercedes url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Aston_Martin {
  background: $colorAston url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Williams {
  background: $colorWilliams url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Haas {
  background: $colorHaas url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-McLaren {
  background: $colorMcLaren url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Alfa_Romeo_Racing {
  background: $colorAlfa url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.bg-Fantasy-Alpine {
  background: $colorAlpine url(../../images/fantasy/selectionDriversTeamsBackground.svg);
}

.color-Red_Bull {
  color: $colorRedBull;
}

.color-AlphaTauri {
  color: $colorAlphaTauri;
}

.color-Ferrari {
  color: $colorFerrari;
}

.color-Mercedes {
  color: $colorMercedes;
}

.color-Aston_Martin {
  color: $colorAston;
}

.color-Williams {
  color: $colorWilliams;
}

.color-Haas {
  color: $colorHaas;
}

.color-McLaren {
  color: $colorMcLaren;
}

.color-Alfa_Romeo_Racing {
  color: $colorAlfa;
}

.color-Alpine {
  color: $colorAlpine;
}


.hover-bg-Red_Bull {
  &:hover {
    background-color: $colorRedBull !important;
  }
}

.hover-bg-AlphaTauri {
  &:hover {
    background-color: $colorAlphaTauri !important;
  }
}

.hover-bg-Ferrari {
  &:hover {
    background-color: $colorFerrari !important;
  }
}

.hover-bg-Mercedes {
  &:hover {
    background-color: $colorMercedes !important;
  }
}

.hover-bg-Aston_Martin {
  &:hover {
    background-color: $colorAston !important;
  }
}

.hover-bg-Williams {
  &:hover {
    background-color: $colorWilliams !important;
  }
}

.hover-bg-Haas {
  &:hover {
    background-color: $colorHaas !important;
  }
}

.hover-bg-McLaren {
  &:hover {
    background-color: $colorMcLaren !important;
  }
}

.hover-bg-Alfa_Romeo_Racing {
  &:hover {
    background-color: $colorAlfa !important;
  }
}

.hover-bg-Alpine {
  &:hover {
    background-color: $colorAlpine !important;
  }
}

.hover-border-Red_Bull {
  &:hover {
    border-color: $colorRedBull !important;
  }
}

.hover-border-AlphaTauri {
  &:hover {
    border-color: $colorAlphaTauri !important;
  }
}

.hover-border-Ferrari {
  &:hover {
    border-color: $colorFerrari !important;
  }
}

.hover-border-Mercedes {
  &:hover {
    border-color: $colorMercedes !important;
  }
}

.hover-border-Aston_Martin {
  &:hover {
    border-color: $colorAston !important;
  }
}

.hover-border-Williams {
  &:hover {
    border-color: $colorWilliams !important;
  }
}

.hover-border-Haas {
  &:hover {
    border-color: $colorHaas !important;
  }
}

.hover-border-McLaren {
  &:hover {
    border-color: $colorMcLaren !important;
  }
}

.hover-border-Alfa_Romeo_Racing {
  &:hover {
    border-color: $colorAlfa !important;
  }
}

.hover-border-Alpine {
  &:hover {
    border-color: $colorAlpine !important;
  }
}
