<div class="clasification-drivers surface-200 pt-6">
  <div class="clasification-drivers-top container">
    <div class="flex justify-content-between align-items-center px-0 md:px-3 py-3">
      <h1 class="m-0 md:mb-2 pl-3 F1_Bold text-xl sm:text-5xl">Pilotos</h1>
      @if (seasons.length > 0) {
        <form [formGroup]="seasonForm">
          <p-dropdown
            formControlName="season"
            [options]="seasons"
            [(ngModel)]="seasonSelected"
            optionLabel="name"
          ></p-dropdown>
      </form>
      }
    </div>
  </div>
  <div class="pb-6 container grid justify-content-start">
    @if (drivers.length === 0 && driverPoints.length === 0) {
      <div class="mt-6 grid justify-content-evenly">
        @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <p-skeleton width="25.5rem" height="26.5rem" class="mb-3"></p-skeleton>
        }
      </div>
    } @else if (driverPoints.length > 0) {
      @for (driverPoint of driverPoints; track $index) {
        <div class="clasification-drivers-schema col-12 md:col-6 xl:col-4">
          <div
            class="clasification-drivers-schema-card border-top-1 border-right-1 border-black-alpha-90 mt-6 pt-2 cursor-pointer transition-all transition-ease-in transition-duration-150"
            [class]="'hover-border-' + (driverPoint.driver.team.name | SpaceToUnderscore)">
            <div class="clasification-drivers-schema-card-top flex justify-content-between align-items-center px-3 py-2">
              <div class="clasification-drivers-schema-card-top-number F1_Bold text-5xl">
                <h3 class="m-0">{{ $index + 1 }}</h3>
              </div>
              <div class="clasification-drivers-schema-card-top-points flex flex-column align-items-center F1_Bold">
                <h4 class="m-0 font-italic text-xl mb-1">{{ driverPoint.totalPoints }}</h4>
                <p-chip>Puntos</p-chip>
              </div>
            </div>
            <div class="clasification-drivers-schema-card-mid border-top-1 border-bottom-1 border-black-alpha-90 flex flex-column mr-2">
              <div class="clasification-drivers-schema-card-mid-driver flex align-items-center px-3 py-2">
                <div class="clasification-drivers-schema-card-mid-driver-line mr-3 h-2rem" [class]="'bg-' + (driverPoint.driver.team.name | SpaceToUnderscore)"></div>
                <h2 class="m-0 F1_Bold">{{ driverPoint.driver.name }}</h2>
              </div>
            </div>
            <div class="clasification-drivers-schema-card-bottom position-relative">
              <div class="clasification-drivers-schema-card-bottom-team px-3 py-2">
                <p class="m-0 F1_Regular">{{ driverPoint.driver.team.name }}</p>
              </div>
              <div class="clasification-drivers-schema-card-bottom-image flex justify-content-center">
                <div class="clasification-drivers-schema-card-bottom-image-number w-3 flex align-items-end">
                  <h5 class="m-0 mb-3 w-full F1_Wide text-3xl" [class]="'color-' + (driverPoint.driver.team.name| SpaceToUnderscore)">
                    {{ driverPoint.driver.number }}
                  </h5>
                </div>
                <img [src]="'data:image/jpg;base64,' + driverPoint.driver.driverImage" [alt]="'Imagen de ' + driverPoint.driver.name" class="w-8" />
              </div>
            </div>
          </div>
        </div>
      }
    }@else if (drivers.length > 0) {
      @for (driver of drivers; track $index) {
        <div class="clasification-drivers-schema col-12 md:col-6 xl:col-4">
          <div
            class="clasification-drivers-schema-card border-top-1 border-right-1 border-black-alpha-90 mt-6 pt-2 cursor-pointer transition-all transition-ease-in transition-duration-150"
            [class]="'hover-border-' + (driver.team.name | SpaceToUnderscore)">
            <div class="clasification-drivers-schema-card-top flex justify-content-between align-items-center px-3 py-2">
              <div class="clasification-drivers-schema-card-top-number F1_Bold text-5xl">
                <h3 class="m-0">{{ $index + 1 }}</h3>
              </div>
              <div class="clasification-drivers-schema-card-top-points flex flex-column align-items-center F1_Bold">
                <h4 class="m-0 font-italic text-xl mb-1">0</h4>
                <p-chip class="F1_Regular text-xs font-bold">Puntos</p-chip>
              </div>
            </div>
            <div
              class="clasification-drivers-schema-card-mid border-top-1 border-bottom-1 border-black-alpha-90 flex flex-column mr-2">
              <div class="clasification-drivers-schema-card-mid-driver flex align-items-center px-3 py-2">
                <div class="clasification-drivers-schema-card-mid-driver-line mr-3 h-2rem" [class]="'bg-' + (driver.team.name | SpaceToUnderscore)"></div>
                <h2 class="m-0 F1_Bold">{{ driver.name }}</h2>
              </div>
            </div>
            <div class="clasification-drivers-schema-card-bottom position-relative">
              <div class="clasification-drivers-schema-card-bottom-team px-3 py-2">
                <p class="m-0 F1_Regular">{{ driver.team.name }}</p>
              </div>
              <div class="clasification-drivers-schema-card-bottom-image flex justify-content-center">
                <div class="clasification-drivers-schema-card-bottom-image-number w-3 flex align-items-end">
                  <h5 class="m-0 mb-3 w-full F1_Wide text-3xl" [class]="'color-' + (driver.team.name | SpaceToUnderscore)">
                    {{ driver.number }}
                  </h5>
                </div>
                <img [src]="'data:image/jpg;base64,' + driver.driverImage" [alt]="'Imagen de ' + driver.name" class="w-8" />
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>

