<div class="penalty surface-200 pt-5">
  <div class="container h-full">
    <div class="penalty-topSide grid justify-content-evenly mx-auto w-full xl:w-9">
      <form [formGroup]="raceForm" class="col-12 lg:col-4 flex justify-content-center">
        <div class="flex flex-column align-items-start lg:align-items-center w-max">
          <span class="mb-1 font-bold F1_Regular text-sm md:text-base">Seleccione circuito:</span>
          <p-dropdown
            formControlName="race"
            [options]="races"
            [(ngModel)]="raceSelected"
            optionLabel="circuit.name"
            class="align-self-center"
          ></p-dropdown>
        </div>
      </form>
      <form [formGroup]="driverForm" class="col-12 lg:col-4 flex justify-content-center">
        <div class="flex flex-column align-items-start lg:align-items-center w-max">
          <span class="mb-1 font-bold F1_Regular text-sm md:text-base">Seleccione piloto:</span>
          <p-dropdown
            formControlName="driver"
            [options]="drivers"
            [(ngModel)]="driverSelected"
            optionLabel="name"
            class="align-self-center"
          ></p-dropdown>
        </div>
      </form>
      <form [formGroup]="penaltySeverityForm" class="col-12 lg:col-4 flex justify-content-center">
        <div class="flex flex-column align-items-start lg:align-items-center w-max">
          <span class="mb-1 font-bold F1_Regular text-sm md:text-base">Seleccione severidad:</span>
          <p-dropdown
            formControlName="penaltySeverity"
            [options]="penaltiesSeverity"
            [(ngModel)]="penaltySeveritySelected"
            optionLabel="severity"
            class="align-self-center"
          ></p-dropdown>
        </div>
      </form>
      @if (penaltySeveritySelected && raceSelected && driverSelected) {
        <form [formGroup]="reasonForm" class="col-12 mt-3">
          <div class="flex flex-column align-items-start">
            <span class="mb-1 font-bold F1_Regular ml-0 md:ml-3 text-sm md:text-base">Razón de penalización:</span>
            <textarea rows="5" cols="70" pInputTextarea formControlName="reason" class="align-self-center ml-0 md:ml-4 w-full"></textarea>
          </div>
        </form>
        <div class="penalty-button flex justify-content-center">
          <p-button class="mx-auto my-5 p-2 p-button-raised" [raised]="true" (click)="savePenalty()">
            Guardar
          </p-button>
        </div>
      }
    </div>
    <hr />
    @for (driverPenalty of penalties; track $index) {
      <p>{{ driverPenalty.driver.name }}</p>
      @for (racePenalty of driverPenalty.racePenalties; track $index) {
        <p class="ml-4">{{ racePenalty.race.circuit.name }}:</p>
        <ul class="ml-5">
          @for (penalty of racePenalty.penalties; track $index) {
            <li>
              {{ showReason(penalty.reason) }} ({{ penalty.severity.severity }})
            </li>
          }
        </ul>
      }
    }
  </div>
</div>
