@include media-breakpoint-down(xxl) {
  .driver-card {
    width: 30.25% !important;

    &-pos1 {
      width: 35% !important;

      img {
        top: -51.5% !important;
        width: 66% !important;
        left: 34% !important;
      }
    }

    &-top {

      img {
        top: -61% !important;
        left: 33% !important;
        width: 67% !important;
      }

      &-number {
        font-size: 2.33rem !important;
      }
    }
  }
}

@include media-breakpoint-down(xl) {

  .driver-card {
    width: 30.25% !important;

    &-pos1 {
      width: 34% !important;

      img {
        top: -31% !important;
        width: 70% !important;
        left: 30% !important;
      }
    }

    &-top {

      img {
        top: -35% !important;
        left: 33% !important;
      }

      &-number {
        font-size: 1.75rem !important;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .driver-card {

    &-pos1 {
      width: 34.33% !important;

      img {
        top: 1.5% !important;
        left: 30% !important;
        width: 70% !important;
      }
    }

    &-top {

      img {
        top: -8% !important;
        left: 28% !important;
        width: 72% !important;
      }

      &-number {
        font-size: 1.25rem !important;
        top: 6% !important;
        left: 3% !important;
      }
    }

    &-bottom {

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .drivers {

    &-text {
      font-size: 1.2rem;
    }

    .driver-card {

      &-pos1 {
        width: 100% !important;

        img {
          top: -51.5% !important;
          width: 50% !important;
          left: 42% !important;
        }
      }

      &-top {

        &-number {
          font-size: 3rem !important;
          top: 6% !important;
          left: 3% !important;
        }
      }

      &-bottom {

        h2 {
          font-size: 3rem;
        }
      }
    }
  }

  .drivers-top10 {
    h5, p {
      font-size: 1rem;
    }

    span {
      font-size: 0.7rem;
    }
  }
}

@include media-breakpoint-down(sm) {

  .drivers-text {
    margin-bottom: 10rem !important;
    padding-top: 10rem !important;
  }

  .drivers-top10-container {
    z-index: 4;
  }

  .badge {
    background-color: #ededed;
    font-size: 0.75rem !important;
  }
}
