@include media-breakpoint-down(sm) {
  .teams-schema {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include media-breakpoint-up(sm) {
  .teams-schema {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include media-breakpoint-up(md) {
  .teams-schema {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include media-breakpoint-up(lg) {
  .teams-schema {
    grid-template-columns: repeat(5, 1fr);
  }
}
@include media-breakpoint-up(xl) {
  .teams-schema {
    grid-template-columns: repeat(7, 1fr);
  }
}
@include media-breakpoint-up(xxl) {
  .teams-schema {
    grid-template-columns: repeat(10, 1fr);
  }
}
