@import "../../../assets/scss/styles.scss";

.intro {
  h1 {
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    text-shadow: -4px 4px 20px black;
  }

  img {
    filter: brightness(0.5);
  }
}
