@import "../../../assets/scss/styles.scss";

.intro {
  h1 {
    z-index: 2;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-family: 'F1-Wide';
    line-height: 8rem;
    letter-spacing: 2px;
    text-shadow: -4px 4px 20px black;
    font-size: 4rem;
  }

  img {
    filter: brightness(0.5);
  }
}

.drivers {
  background-color: #f3f3f3;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 335px;
    background-image: url(../../../assets/images/intro/introDrivers.avif);
    background-size: cover;
    z-index: 1;
  }

  &-text {
    padding-top: 5rem;
    margin-bottom: 8rem;
    font-family: 'F1-Wide';
    z-index: 2;
  }

    .driver-card {
      width: 31%;
      margin-top: 30px;
      z-index: 2;

      &-pos1 {
        width: 34%;
        z-index: 2;

        img {
          top: -68%;
          width: 65%;
          left: 35%;
          z-index: 3;
        }
      }

      &-top {
        height: 140px;
        background-color: white;
        border-radius: 15px 15px 0 0;

        img {
          top: -72%;
          left: 40%;
          width: 60%;
          z-index: 3;
        }

        &-pos1 {
          height: 170px;
          background-color: white;
          border-radius: 15px 15px 0 0;
        }

        &-number {
          font-size: 3rem;
          font-family: "F1-Wide";
          top: 7%;
          left: 3%;

          &-Red {
            color: $colorRedBull;
          }

          &-AlphaTauri {
            color: $colorAlphaTauri;
          }

          &-Ferrari {
            color: $colorFerrari;
          }

          &-Mercedes {
            color: $colorMercedes;
          }

          &-Aston {
            color: $colorAston;
          }

          &-Williams {
            color: $colorWilliams;
          }

          &-Haas {
            color: $colorHaas;
          }

          &-McLaren {
            color: $colorMcLaren;
          }

          &-Alfa {
            color: $colorAlfa;
          }

          &-Alpine {
            color: $colorAlpine;
          }
        }

        &-team-border {
          height: 10px;

          &-Red {
            background-color: $colorRedBull;
          }

          &-AlphaTauri {
            background-color: $colorAlphaTauri;
          }

          &-Ferrari {
            background-color: $colorFerrari;
          }

          &-Mercedes {
            background-color: $colorMercedes;
          }

          &-Aston {
            background-color: $colorAston;
          }

          &-Williams {
            background-color: $colorWilliams;
          }

          &-Haas {
            background-color: $colorHaas;
          }

          &-McLaren {
            background-color: $colorMcLaren;
          }

          &-Alfa {
            background-color: $colorAlfa;
          }
        }
      }


    &-bottom {
      border-radius: 0 0 15px 15px;
      padding: 25px;
      background-color: rgb(56, 56, 63);

      h2 {
        font-family: 'F1-Regular';
        letter-spacing: 5px;
      }
    }
  }
}

.drivers-top10 {
  background-color: white;
  transition: .4s cubic-bezier(.35,.15,.6,1);

  &:hover {
    cursor: pointer;
    background-color: #38383f;
    color: white;

    svg {
      color: white;
    }
  }

  .line {
    width: 4px;
    height: 14px;

    &-Red {
      background-color: $colorRedBull;
    }

    &-AlphaTauri {
      background-color: $colorAlphaTauri;
    }

    &-Ferrari {
      background-color: $colorFerrari;
    }

    &-Mercedes {
      background-color: $colorMercedes;
    }

    &-Aston {
      background-color: $colorAston;
    }

    &-Williams {
      background-color: $colorWilliams;
    }

    &-Haas {
      background-color: $colorHaas;
    }

    &-McLaren {
      background-color: $colorMcLaren;
    }

    &-Alfa {
      background-color: $colorAlfa;
    }
  }

  p, h5 {
    margin: 0;
  }

  .drivers-top10 {
    justify-content: space-between;
  }

  .driver-points {
    display: flex;
    align-items: center;
  }

  .badge {
    background-color: #ededed;
    font-size: 1rem;
  }

  svg {
    color: $red;
  }
}

.fantasy-icon {
  left: 25px;
  bottom: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $fantasyblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include media-breakpoint-down(xxl) {
  .driver-card {
    width: 30.25% !important;

    &-pos1 {
      width: 35% !important;

      img {
        top: -51.5% !important;
        width: 66% !important;
        left: 34% !important;
      }
    }

    &-top {

      img {
        top: -61% !important;
        left: 33% !important;
        width: 67% !important;
      }

      &-number {
        font-size: 2.33rem !important;
      }
    }
  }
}

@include media-breakpoint-down(xl) {

  .driver-card {
    width: 30.25% !important;

    &-pos1 {
      width: 34% !important;

      img {
        top: -31% !important;
        width: 70% !important;
        left: 30% !important;
      }
    }

    &-top {

      img {
        top: -35% !important;
        left: 33% !important;
      }

      &-number {
        font-size: 1.75rem !important;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .intro {
    h1 {
      line-height: 5rem;
      font-size: 3rem;
    }
  }

  .driver-card {

    &-pos1 {
      width: 34.33% !important;

      img {
        top: 1.5% !important;
        left: 30% !important;
        width: 70% !important;
      }
    }

    &-top {

      img {
        top: -8% !important;
        left: 28% !important;
        width: 72% !important;
      }

      &-number {
        font-size: 1.25rem !important;
        top: 6% !important;
        left: 3% !important;
      }
    }

    &-bottom {

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .intro {
    h1 {
      line-height: 4rem;
      font-size: 2rem;
    }
  }

  .drivers {

    &-text {
      font-size: 1.2rem;
    }

    .driver-card {

      &-pos1 {
        width: 100% !important;

        img {
          top: -51.5% !important;
          width: 50% !important;
          left: 42% !important;
        }
      }

      &-top {

        &-number {
          font-size: 3rem !important;
          top: 6% !important;
          left: 3% !important;
        }
      }

      &-bottom {

        h2 {
          font-size: 3rem;
        }
      }
    }
  }

  .drivers-top10 {
    h5, p {
      font-size: 1rem;
    }

    span {
      font-size: 0.7rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .intro {
    h1 {
      line-height: 3rem;
      font-size: 1.75rem;
    }
  }

  .drivers-text {
    margin-bottom: 10rem !important;
    padding-top: 10rem !important;
  }

  .drivers-top10-container {
    z-index: 4;
  }

  .badge {
    background-color: #ededed;
    font-size: 0.75rem !important;
  }
}


@include media-breakpoint-down(md) {
  .clasification-drivers-schema-card-bottom {
    h5 {
      width: 100%;
      font-size: 1.65rem !important;
      font-family: "F1-Wide";
    }
  }
}

.configurations {
  background: url("../../../assets/images/intro/introConfigurations.avif");
  background-size: cover;
  padding-bottom: 4rem;

  &-title {
    color: white;

    h2 {
      padding: 3.75rem 0 0 3.75rem;
      font-family: 'F1-Regular';
    }
  }

  &-schema {
    hr {
      border-top: 3px solid;
    }

    p {
      font-size: 2rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .configurations {

    &-title {
      color: white;

      h2 {
        padding: 3.75rem 0 0 0 !important;
        font-family: 'F1-Regular';
        text-align: center;
      }
    }

    &-schema {
      hr {
        border-top: 3px solid;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 5px !important;
      }
    }

  }
}

.teams {
  &-title {
    font-family: 'F1-Regular';
    letter-spacing: 2px;
    color: $red;
    margin: 3.75rem 0 0 3.75rem;
  }

  &-schema {
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
    margin: 3.75rem 3.75rem 0 3.75rem;
    padding-bottom: 6.25rem;

    &-container {
      height: 8.75rem;

      &-image {
        width: 6.25rem;
        height: auto;
      }

      &:hover {
        cursor: pointer;
      }

      &-Mercedes:hover {
        background-color: $colorMercedes;
      }

      &-Red:hover {
        background-color: $colorRedBull;
      }

      &-Ferrari:hover {
        background-color: $colorFerrari;
      }

      &-McLaren:hover {
        background-color: $colorMcLaren;
      }

      &-Alpine:hover {
        background-color: $colorAlpine;
      }

      &-AlphaTauri:hover {
        background-color: $colorAlphaTauri;
      }

      &-Aston:hover {
        background-color: $colorAston;
      }
      &-Alfa:hover {
        background-color: $colorAlfa;
      }

      &-Haas:hover {
        background-color: $colorHaas;
      }

      &-Williams:hover {
        background-color: $colorWilliams;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .teams-schema {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include media-breakpoint-up(sm) {
  .teams-schema {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include media-breakpoint-up(md) {
  .teams-schema {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include media-breakpoint-up(lg) {
  .teams-schema {
    grid-template-columns: repeat(5, 1fr);
  }
}
@include media-breakpoint-up(xl) {
  .teams-schema {
    grid-template-columns: repeat(7, 1fr);
  }
}
@include media-breakpoint-up(xxl) {
  .teams-schema {
    grid-template-columns: repeat(10, 1fr);
  }
}
