<div class="intro relative h-15rem md:h-20rem lg:h-25rem">
  <h1 class="absolute text-white uppercase text-center F1_Wide m-0 z-1 top-50 left-50 line-height-4 text-xl sm:text-3xl md:text-5xl lg:text-7xl">
    Formula bollo
  </h1>
  <img
    src="../../../assets/images/intro/introImage.avif"
    class="w-full h-15rem md:h-20rem lg:h-25rem"
    alt="Foto principal"
  />
</div>

<div class="surface-200">
  <app-home-drivers></app-home-drivers>
  <app-home-teams></app-home-teams>
  <app-home-configuration></app-home-configuration>
</div>
