<div class="fantasyResults surface-ground py-5 px-3" style="height: 91.85vh" [style.height]="fantasyPointsUsers.length > 5 ? 'auto' : '91.85vh'">
  <div class="container surface-200 p-6 h-full relative">
    <div class="flex justify-content-start flex-wrap mb-5">
      <form [formGroup]="raceForm" class="col-12 md:col-6">
        <div class="flex flex-column align-items-start">
          <span class="mb-1 font-bold F1_Regular">Seleccione circuito:</span>
          <p-dropdown
            formControlName="race"
            [options]="races"
            [(ngModel)]="raceSelected"
            optionLabel="circuit.name"
          >
            <ng-template pTemplate="selectedItem">
              <div>{{ raceSelected?.circuit?.name }}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </form>
      <form [formGroup]="seasonForm" class="col-12 md:col-6">
        <div class="flex flex-column align-items-start md:align-items-center">
          <span class="mb-1 font-bold F1_Regular">Seleccione temporada:</span>
          <p-dropdown
            formControlName="season"
            [options]="seasons"
            [(ngModel)]="seasonSelected"
            optionLabel="name"
          ></p-dropdown>
        </div>
      </form>
    </div>
    @if (raceSelected) {
      <div class="table-title flex">
        @if (this.raceSelected.id != 0) {
          <h2 class="mb-5 F1_Regular font-bold text-base md:text-2xl">
            Resultados de {{ raceSelected.circuit.name }}
          </h2>
          <img
            class="ml-4 h-3rem shadow-3"
            [src]="'data:image/jpg;base64,' + raceSelected.circuit.flagImage"
            [alt]="'Bandera de' + raceSelected.circuit.name"
          />
        } @else {
          <h2 class="mb-5 F1_Regular font-bold text-base md:text-2xl">
            Resultados generales
          </h2>
        }
      </div>
    }

    @if (fantasyPointsUsers.length > 0) {
      <app-formula-table
        [data]="fantasyPointsUsers"
        [displayedColumns]="displayedColumns"
      ></app-formula-table>
    } @else {
      <h3 class="message_no_results F1_Regular font-bold absolute left-50 top-50 mt-8 md:m-0">No hay resultados disponibles</h3>
    }
  </div>
</div>
