<div class="register surface-200">
  <div class="container flex align-items-center justify-content-center h-full">
    <div class="register-card surface-ground py-5 w-30rem border-round-2xl">
      <div class="register-card-title min-w-min text-center mx-3 mt-3 mb-6">
        <h1 class="font-italic F1_Bold m-0 uppercase">Registro</h1>
      </div>
      <div class="register-card-form">
        <form [formGroup]="registerForm" class="form text-center w-9 m-auto">
          <p class="register-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Usuario
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input
              type="text"
              pInputText
              formControlName="username"
              placeholder="Usuario"
              class="border-none w-full surface-200 outline-none text-lg pl-2" />
          </p-inputGroup>
          @if (registerForm.get('username')?.invalid && registerForm.get('username')?.dirty) {
            <span class="text-xs sm:text-sm">Necesitas poner el nombre de usuario</span>
          }
          <p class="register-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Correo electrónico
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-envelope"></i>
            </p-inputGroupAddon>
            <input
              type="text"
              pInputText
              formControlName="email"
              placeholder="Correo electrónico"
              class="border-none w-full surface-200 outline-none text-lg pl-2" />
          </p-inputGroup>
          @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.dirty) {
            <span class="text-xs sm:text-sm">Necesitas poner un correo</span>
          }
          @if (registerForm.get('email')?.hasError('email') && registerForm.get('email')?.dirty) {
            <span class="text-xs sm:text-sm">Necesitas poner un correo válido</span>
          }
          <p class="login-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Contraseña
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <p-password
              formControlName="password"
              placeholder="Contraseña"
              class="w-full text-lg"
              [toggleMask]="true"
              [feedback]="false">
            </p-password>
          </p-inputGroup>
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.dirty) {
            <span class="text-xs sm:text-sm">Necesitas poner la contraseña</span>
          }
          <p class="login-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Repite la Contraseña
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <p-password
              formControlName="passwordRepeated"
              placeholder="Contraseña"
              class="w-full text-lg"
              [toggleMask]="true"
              [feedback]="false">
            </p-password>
          </p-inputGroup>
          @if (
            registerForm.get('passwordRepeated')?.invalid &&
            registerForm.get('passwordRepeated')?.dirty &&
            registerForm.get('passwordRepeated')?.value != registerForm.get('password')?.value
          ) {
            <span class="text-xs sm:text-sm">La contraseña debe ser igual a la anterior</span>
          }
          <div class="mt-6">
            <p-button
              label="Registrarme"
              [raised]="true"
              (click)="register()">
            </p-button>
          </div>
          <p class="font-italic align-self-center mt-3 mb-0">
            ¿Tienes cuenta? <a routerLink="/fantasy/login"> Inicia sesión.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
