<div class="penalty pt-5 px-5">
  <div class="penalty-topSide d-flex justify-content-evenly flex-wrap mx-auto mb-5">
    <form [formGroup]="circuitsForm">
      <div class="penalty-topSide-form d-flex flex-column">
        <label class="mb-1">Seleccione circuito:</label>
        <mat-form-field>
          <mat-select formControlName="circuit">
            <mat-option *ngFor="let circuit of circuits" [value]="circuit">
              {{ circuit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <form [formGroup]="driverForm" *ngIf="circuitSelected">
      <div class="penalty-topSide-form d-flex flex-column">
        <label class="mb-1">Seleccione piloto:</label>
        <mat-form-field>
          <mat-select formControlName="driver">
            <mat-option *ngFor="let driver of drivers" [value]="driver">
              {{ driver.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <form [formGroup]="penaltySeverityForm" *ngIf="driverSelected">
      <div class="penalty-topSide-form d-flex flex-column">
        <label class="mb-1">Seleccione severidad:</label>
        <mat-form-field>
          <mat-select formControlName="penaltySeverity" [(value)]="penaltySeveritySelected">
            <mat-option *ngFor="let penaltyseverity of penaltiesSeverity" [value]="penaltyseverity">
              {{ penaltyseverity.severity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="penalty-bottomSide mx-auto" *ngIf="driverSelected">
    <form [formGroup]="reasonForm">
      <label class="mb-1">Razón de penalización:</label>
      <mat-form-field>
        <textarea matInput formControlName="reason"></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="d-flex align-items-center">
    <button mat-button class="mx-auto my-5 penalty-button p-2 shadow" *ngIf="saveButtonActivated" (click)="savePenalty()">Guardar</button>
  </div>

  <hr>
  <div class="penalty-list">
    <div class="penalty-list-item" *ngFor="let driverPenalty of penalties">
      <p>{{ driverPenalty.driver.name }}</p>
      <ul class="ms-3">
        <li *ngFor="let penalty of driverPenalty.penalties">{{penalty.race.circuit.name}}: {{ showReason(penalty.reason) }} ({{ penalty.severity.severity }}) </li>
      </ul>
    </div>
  </div>
</div>
