@import "../../../../assets/scss/styles.scss";

.statute {
  min-height: calc(100vh - 54px);

  p {
    font-family: "Inter var", sans-serif;
  }

  h1 {
    letter-spacing: 1px;
  }

  &-button {
    ::ng-deep .p-button {
      color: white !important;
      background-color: $red !important;
      border: none;
      padding: 0.55rem 2.55rem;
      font-size: 1.25rem;
      font-weight: bold;

      &:hover {
        transform: translate(-1px, -1px);
      }
    }
  }
}

