<div class="statute surface-200">
  <div class="container">
    <h1 class="text-center py-6 m-0 F1_Regular font-bold">Actualizar Estatuto</h1>
    <div class="py-4 w-full lg:w-7 xl:w-5 m-auto surface-ground relative shadow-2 border-round-lg">
      <div class="flex justify-content-center">
        <i class="pi pi-download text-900 text-6xl"></i>
      </div>
      <div>
        <p class="text-center my-5">Selecciona un fichero o arrastralo</p>
      </div>
      <input
        role="button"
        type="file"
        (change)="onFileSelected($event)"
        accept=".pdf"
        class="h-full w-full absolute top-0 left-0 opacity-0 cursor-pointer"
      />
      @if (selectedFile) {
        <div class="flex justify-content-center align-items-center">
          @if (progressValue < 100) {
            <p-progressBar [value]="progressValue" class="w-10 border-round-2xl"></p-progressBar>
          } @if (progressValue === 100) {
            <span>{{ selectedFile.name }}</span>
            @if (correct) {
              <div class="circle h-2rem w-2rem bg-green-300 border-circle flex justify-content-center align-items-center ml-2">
                <i class="pi pi-check text-0 font-bold"></i>
              </div>
            } @else {
              <div class="circle h-2rem w-2rem bg-red-300 border-circle flex justify-content-center align-items-center ml-2">
                <i class="pi pi-times text-0 font-bold"></i>
              </div>
            }
          }
        </div>
      }
    </div>
    <div class="statute-button flex justify-content-center">
      <p-button class="mx-auto my-5 p-2 p-button-raised" [raised]="true" (click)="readPDFContent()">
        Guardar
      </p-button>
    </div>
  </div>
</div>
