@import "../../../assets/scss/styles.scss";

.container {
  height: calc(100vh - 75px);

  h1 {
    font-family: "F1-Regular", sans-serif;
    letter-spacing: 1px;
  }
}

@include media-breakpoint-down(lg) {
  .container {
    height: calc(100vh - 92px) !important;

    img {
      width: 80%;
    }
  }
}
