@import "../../../../assets/scss/styles.scss";

.login {
  height: calc(100vh - 54px);

  &-card {

    &-title {
      letter-spacing: 3px;
    }

    &-form {

      ::ng-deep .p-button-label {
        color: white !important;
      }

      ::ng-deep .p-button {
        background-color: $fantasyblue !important;
        border: none;
        padding: 0.55rem 1.55rem;
        font-size: 1.25rem;

        &:hover {
          transform: translate(-1px, -1px);
        }
      }

      a {
        color: -webkit-link;
        text-decoration: underline;
      }
    }
  }
}

span {
  color: #e24c4c;
}

::ng-deep .p-password.p-inputwrapper{
  width: 100%;
}

::ng-deep .p-password-input.p-inputtext {
  background-color: var(--surface-200);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  color: var(--surface-900);
}

::ng-deep .p-password-input.p-inputtext:hover {
  border-color: transparent;
}

::ng-deep .p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: transparent;
}

::ng-deep .p-icon-wrapper {
  cursor: pointer;
}

input.ng-invalid.ng-dirty {
  border: 1px solid #e24c4c !important;
}

::ng-deep p-password.ng-invalid.ng-dirty>.p-password>.p-inputtext {
  border: 1px solid #e24c4c !important;
}

::ng-deep .p-dialog-header {
  background-color: $fantasyblue;
}

::ng-deep .p-dialog-header-close-icon {
  color: var(--surface-0);
}

::ng-deep .p-dialog-content {
  background-color: var(--surface-0);
}

::ng-deep .p-dialog-footer {
  background-color: var(--surface-0);
}
