<div class="register bg-dark">
  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="register-card bg-white py-5">
      <div class="register-card-title fst-italic">Cambiar Contraseña</div>
      <div class="register-card-form">
        <form [formGroup]="recoverPasswordForm" class="form text-center w-75 m-auto d-flex flex-column align-items-start">
          <p class="register-card-form-label mt-3 mb-1 ms-3 text-start fw-bold">Nueva Contraseña</p>
          <mat-form-field appearance="fill">
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              placeholder="Contraseña"
              autocomplete="off"
            />
            <span
              class="btn-password"
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
            >
              <mat-icon
                class="position-absolute"
                disableRipple="true"
                role="button"
                >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
              >
            </span>
            <mat-error *ngIf="recoverPasswordForm.get('password')?.invalid">Necesitas poner la contraseña</mat-error>
          </mat-form-field>
          <p class="register-card-form-label mt-3 mb-1 ms-3 text-start fw-bold">Repite la contraseña</p>
          <mat-form-field appearance="fill">
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="passwordRepeated"
              placeholder="Contraseña"
              autocomplete="off"
            />
            <span
              class="btn-password"
              mat-icon-button
              matSuffix
              (click)="hidePasswordRepeated = !hidePasswordRepeated"
            >
              <mat-icon
                class="position-absolute"
                disableRipple="true"
                role="button"
                >{{ hidePasswordRepeated ? "visibility_off" : "visibility" }}</mat-icon
              >
            </span>
            <mat-error *ngIf="recoverPasswordForm.get('passwordRepeated')?.invalid">La contraseña debe ser igual a la anterior</mat-error>
          </mat-form-field>
          <div class="w-100">
            <button mat-button class="register-card-form-button mt-4 py-1 w-65" (click)="changePassword()">Cambiar contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
