<div class="login surface-200">
  <div class="container flex align-items-center justify-content-center h-full">
    <div class="login-card surface-ground py-5 w-30rem border-round-2xl">
      <div class="login-card-title min-w-min text-center mx-3 mt-3 mb-6">
        <h1 class="font-italic F1_Bold m-0 uppercase">Cambiar Contraseña</h1>
      </div>
      <div class="login-card-form">
        <form [formGroup]="recoverPasswordForm" class="form text-center w-9 m-auto">
          <p class="login-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Nueva Contraseña
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <p-password
              formControlName="password"
              placeholder="Contraseña"
              class="w-full text-lg"
              [toggleMask]="true"
              [feedback]="false">
            </p-password>
          </p-inputGroup>
          @if (recoverPasswordForm.get('password')?.invalid && recoverPasswordForm.get('password')?.dirty) {
            <span class="text-xs sm:text-sm">Necesitas poner la contraseña</span>
          }
          <p class="login-card-form-label mt-3 mb-1 ms-3 text-left font-bold">
            Repite la Contraseña
          </p>
          <p-inputGroup>
            <p-inputGroupAddon class="border-none">
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <p-password
              formControlName="passwordRepeated"
              placeholder="Contraseña"
              class="w-full text-lg"
              [toggleMask]="true"
              [feedback]="false">
            </p-password>
          </p-inputGroup>
          @if (
            recoverPasswordForm.get('passwordRepeated')?.invalid &&
            recoverPasswordForm.get('passwordRepeated')?.dirty &&
            recoverPasswordForm.get('passwordRepeated')?.value != recoverPasswordForm.get('password')?.value
          ) {
            <span class="text-xs sm:text-sm">La contraseña debe ser igual a la anterior</span>
          }
          <div class="mt-6">
            <p-button
              label="Cambiar contraseña"
              [raised]="true"
              (click)="changePassword()">
            </p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
