@import "../../../assets/scss/styles.scss";


.results {
  * {
    letter-spacing: 0.1px;
  }

  .container {
    min-height: calc(100vh - 118px);
  }

  .message_no_results {
    transform: translate(-50%, -50%);
  }

  ::ng-deep .p-dropdown {
    width: 11.2rem;
  }
}
