@import "../../../assets/scss/styles.scss";

* {
  font-family: 'F1-Regular';
  letter-spacing: 0.1px;
}

.container {
  min-height: calc(100vh - 171px);
}

@include media-breakpoint-down(lg) {
  .container {
    min-height: calc(100vh - 188px);
  }
}

.message_no_results {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}


.table {

  &-title {
    img {
      height: 50px;
      box-shadow: -9px 9px 135px -7px rgba(0, 0, 0, 0.75);
    }
  }

  &-header {
    th {
      font-weight: bold;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  &-row {

    &-color {
      background-color: rgb(203 203 203 / 20%);

      &:hover {
        background-color: rgb(203 203 203 / 20%) !important;
      }
    }
  }
}


@include media-breakpoint-down(md) {
  table {
    overflow-x: auto;
    display: block;

    th, td {
      white-space: nowrap;
    }
  }
}
