@import "../../../assets/scss/styles.scss";

.admin {
  min-height: calc(100vh - 54px);

  &-leftSide {
    background-color: #1f2937 !important;

    &-title {
      p {
        letter-spacing: 1px;
      }
    }

    &-item {
      color: white;

      &:hover {
        background-color: white;
        color: #111827;
      }

      &.active {
        background-color: white;
        color: #111827;
      }
    }
  }

  &-rightSide {
    margin-left: 225px !important;
  }
}

@include media-breakpoint-down(sm) {
  .admin-rightSide {
    margin-left: 145px !important;
  }
}
