@import "../../../assets/scss/styles.scss";

* {
  font-family: 'F1-Regular';
  letter-spacing: 0.1px;
}

.table {

  &-header {
    th {
      font-weight: bold;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  &-row {

    &-color {
      background-color: rgb(203 203 203 / 20%);

      &:hover {
        background-color: rgb(203 203 203 / 20%) !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  table {
    overflow-x: auto;
    display: list-item;

    th, td {
      white-space: nowrap;
    }
  }
}

button {
  border: none;
  background: rgba(91, 206, 255, 0.9);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: white;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: "F1-REGULAR";

  &:hover {
    background: $fantasyblue;
    transform: translate(-1px, -1px);
  }
}
