<table mat-table [dataSource]="data" class="overflow-x-auto">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Pos</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{ result.position != null ? result.position.positionNumber : "DNF" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="positionUser">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Pos</th>
    <td mat-cell *matCellDef="let result; let i = index" class="text-center text-900 white-space-nowrap">
      {{ i + 1 }}
    </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Usuario</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{ result.user.username }}
    </td>
  </ng-container>
  <ng-container matColumnDef="driverName">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Piloto</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{ result.driver.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="teamName">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Escuderia</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{ result.driver.team.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Puntos</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{
        (result.position != null ? result.position.points : 0) + result.fastlap
      }}
    </td>
  </ng-container>
  <ng-container matColumnDef="fantasyElection">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Equipo</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      <p-button
        label="Ver equipo"
        [raised]="true"
        (click)="openTeamDialog(result.fantasyElection)">
      </p-button>
    </td>
  </ng-container>
  <ng-container matColumnDef="totalPoints">
    <th mat-header-cell *matHeaderCellDef class="text-center font-bold underline text-900 surface-300 white-space-nowrap">Puntos</th>
    <td mat-cell *matCellDef="let result" class="text-center text-900 white-space-nowrap">
      {{ result.totalPoints }}
    </td>
  </ng-container>
  <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="table-row"
    mat-row *matRowDef="let row; columns: displayedColumns;
    let i = index" [ngClass]="i % 2 === 0 ? 'surface-100' : 'surface-300'">
  </tr>
</table>
