@import "../../../assets/scss/styles.scss";

* {
  font-family: "F1-Regular";
  letter-spacing: 0.1px;
}

.table {

  &-header {
    th {
      text-decoration-style: dashed !important;
    }
  }
}

@include media-breakpoint-down(md) {
  table {
    display: list-item;
  }
}

::ng-deep .p-button {
  background-color: $fantasyblue !important;
}

::ng-deep .p-button-label {
  color: var(--surface-900) !important;
}
