@import "../../../assets/scss/styles.scss";


.clasification-teams {
  &-top {
    border-top: 10px solid #111827;
    border-right: 10px solid #111827;
    border-top-right-radius: 25px;
  }

  &-schema-card {
    border-top-right-radius: 10px;

    &:hover {
      margin-top: 2.5rem !important;
      padding-top: 1rem !important;
    }

    &-top-points {
      letter-spacing: 2px;

      ::ng-deep .p-chip {
        font-family: 'F1-Regular', sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 0.75rem;
        padding: 0.25rem .75rem;
        background-color: #111827;
        color: #ffffff;
      }
    }

    &-mid {
      &-team-start {
        &-line {
          width: 5px;
        }

        h2 {
          letter-spacing: 1px;
        }
      }

      &-drivers {
        &-driver1, &-driver2 {
          width: 48%;
          border-bottom-right-radius: 10px;
        }
      }
    }

    &-bottom {
      background-image: url("../../../assets/images/teams/background-carImage.png");
    }
  }
}

@include media-breakpoint-down(md) {
  ::ng-deep .p-skeleton {
    height: 20rem !important;
    width: 17.5rem !important;
  }
}
