<div class="clasification-teams surface-200 pt-6">
  <div class="clasification-teams-top container">
    <div class="flex justify-content-between align-items-center px-0 md:px-3 py-3">
      <h1 class="m-0 md:mb-2 pl-3 F1_Bold text-xl sm:text-5xl">Escuderías</h1>
      @if (seasons.length > 0) {
        <form [formGroup]="seasonForm">
          <p-dropdown
            formControlName="season"
            [options]="seasons"
            [(ngModel)]="seasonSelected"
            optionLabel="name"
          ></p-dropdown>
        </form>
      }
    </div>
  </div>
  <div class="pb-6 container grid">
    @if (teamWithDrivers.length === 0) {
      <div class="mt-6 grid justify-content-evenly">
        @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <p-skeleton width="39rem" height="22rem" class="mb-3"></p-skeleton>
        }
      </div>
    } @else if (teamWithDrivers.length >= 0) {
      @for (teamWithDriver of teamWithDrivers; track $index) {
        <div class="clasification-teams-schema col-12 md:col-6">
          <div
            class="clasification-teams-schema-card border-top-1 border-right-1 border-black-alpha-90 mt-6 pt-2 cursor-pointer transition-all transition-ease-in transition-duration-150"
            [class]="'hover-border-' + (teamWithDriver.teamDTO.name | SpaceToUnderscore)"
            (click)="router.navigate(['/teams/' + teamNameSpaceToUnderScore(teamWithDriver.teamDTO.name)])"
          >
            <div class="clasification-teams-schema-card-top flex justify-content-between align-items-center px-3 py-2">
              <div class="clasification-teams-schema-card-top-number F1_Bold text-5xl">
                <h3 class="m-0">{{ $index + 1 }}</h3>
              </div>
              <div class="clasification-teams-schema-card-top-points flex flex-column align-items-center">
                <h4 class="m-0 font-italic text-xl mb-1 F1_Bold">{{ teamWithDriver.totalPoints }}</h4>
                <p-chip>Puntos</p-chip>
              </div>
            </div>
            <div class="clasification-teams-schema-card-mid border-top-1 border-black-alpha-90 d-flex flex-column mr-2">
              <div class="clasification-teams-schema-card-mid-team  border-bottom-1 border-black-alpha-90 flex justify-content-between align-items-center px-3 py-2">
                <div class="clasification-teams-schema-card-mid-team-start flex align-items-center">
                  <div
                    class="clasification-teams-schema-card-mid-team-start-line mr-3 h-2rem"
                    [class]="'bg-' + (teamWithDriver.teamDTO.name | SpaceToUnderscore)">
                  </div>
                  <h2 class="m-0 F1_Bold">{{ teamWithDriver.teamDTO.name }}</h2>
                </div>
                <div class="clasification-teams-schema-card-mid-team-end w-3rem h-3rem flex align-items-center">
                  <img
                    [src]="'data:image/jpg;base64,' + teamWithDriver.teamDTO.logoImage"
                    [alt]="'Imagen de ' + teamWithDriver.teamDTO.name"
                    class="w-full"
                  />
                </div>
              </div>
              <div class="clasification-teams-schema-card-mid-drivers flex justify-content-between py-2">
                <div class="clasification-teams-schema-card-mid-drivers-driver1 h-3rem flex justify-content-center lg:justify-content-between align-items-center border-right-1 border-bottom-1 border-black-alpha-90 overflow-hidden">
                  <h3 class="m-0 ml-2 lg:ml-0 xl:ml-3  F1_Regular text-base lg:text-xl">{{ teamWithDriver.driver1.name }}</h3>
                  <img
                    [src]="'data:image/jpg;base64,' + teamWithDriver.driver1.driverImage"
                    [alt]="'Imagen de ' + teamWithDriver.driver1.driverImage"
                    class="h-3rem w-3rem hidden lg:block"
                  />
                </div>
                <div class="clasification-teams-schema-card-mid-drivers-driver2 h-3rem flex justify-content-center lg:justify-content-between align-items-center border-right-1 border-bottom-1 border-black-alpha-90 overflow-hidden">
                  <h3 class="m-0 ml-2 lg:ml-0 xl:ml-3 F1_Regular text-base lg:text-xl">{{ teamWithDriver.driver2.name }}</h3>
                  <img
                    [src]="'data:image/jpg;base64,' + teamWithDriver.driver2.driverImage"
                    [alt]="'Imagen de ' + teamWithDriver.driver2.driverImage"
                    class="h-3rem w-3rem hidden lg:block"
                  />
                </div>
              </div>
            </div>
            <div class="clasification-teams-schema-card-bottom flex justify-content-center">
              <img
                [src]="teamWithDriver.teamDTO.carImage"
                [alt]="'Imagen de ' + teamWithDriver.teamDTO.name"
                class="w-full lg:w-auto"
              />
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
