@import "../../../../assets/scss/styles.scss";

.fantasySelection {
  min-height: calc(100vh - 54px);

  &-top {
    ::ng-deep .p-dropdown {
      width: 11.2rem;
    }
  }

  ::ng-deep .p-button {
    background-color: $fantasyblue !important;
    color: white !important;
    border: none;
    padding: 0.55rem 2.55rem;
    font-size: 1.5rem;

    &:hover {
      transform: translate(-1px, -1px);
    }
  }

  &-mid {
    &-form {

      &-drivers-container {
        &-close, &-points {
          height: 1.75rem;
          width: 1.75rem;
          right: -10px;
          top: -10px;
        }

        img {
          transform: translateX(-50%);
        }
      }

      &-teams {
        p {
          margin-top: 0.1rem;
        }
      }

      &-drivers,
      &-teams {

        input {
          &.selected {
            background-color: var(--surface-300) !important;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }
    }

    &-table {
      &-order-item {
        i {
          margin-top: 3px;
        }
      }

      &-top-option.selected {
        position: relative;

        span {
          color: var(--surface-900) !important;
        }

        &::after {
          content: "";
          position: absolute;
          height: 4px;
          width: 80px;
          bottom: 0px;
          background-color: $red;
        }
      }

      &-bottom {
        height: 22.5rem;

        &-drivers {
          &-info-driver-visual-team {
            height: 1.55rem;

            img {
              object-fit: contain;
            }

            &.bg-Alpine,  &.bg-Aston_Martin {
              img {
                height: 1.55rem !important;
                width: 1.55rem !important;
              }
            }
          }

          &-button {
            button:hover {
              background-color: var(--surface-300) !important;
              transform: scale(1.1);
            }
          }
        }

        &-teams {
          &-image-car {
            transform: translate(-42%, 10%) scale(.7);
          }
        }

        &-button {
          border: none;
          background: rgba($fantasyblue, 0.9);
          font-size: 1.25rem;
          border-radius: 0.5rem;
          padding: 0rem 2rem;
          color: white;
          text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
          font-family: "F1-REGULAR", sans-serif;

          &:hover {
            background: $fantasyblue;
            transform: translate(-1px, -1px);
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  ::ng-deep .p-dropdown {
    width: 8rem !important;
  }

  .fantasySelection {
    &-mid-form {
      &-drivers-container, &-teams-container {
        height: 1.25rem;
        width: 1.25rem;
        right: -10px;
        top: -10px;
      }

      p {
        font-size: 0.65rem;
      }

      ::ng-deep .p-button {
        background-color: $fantasyblue !important;
        color: white !important;
        border: none;
        padding: 0.35rem 1.55rem;
        font-size: 1rem;
      }
    }

    &-mid-table {
      &-order-item {
        i {
          margin-left: 2px;
        }
      }
      &-bottom {
        &-drivers-info-driver-visual-team {
          height: 1rem;
        }

        &-teams-image-car {
          transform: translate(-45%, 10%) scale(0.5);
        }
      }
    }
  }
}
