@if (driverInfo) {
  <div class="driversInfo surface-200 p-2 sm:p-5">
    <div class="surface-100 border-round-md px-4 py-3 flex justify-content-between">
      <form [formGroup]="seasonForm">
        <p-dropdown
        formControlName="season"
        [options]="seasons"
        [(ngModel)]="seasonSelected"
        optionLabel="name"
        class="align-self-center">
        </p-dropdown>
      </form>
    </div>
    <div class="surface-100 grid grid-nogutter p-0 xl:p-8 mt-5 border-round-md overflow-hidden">
      <div class="col-12 xl:col-7">
        <div class="driversInfo-background-image m-0 xl:mr-8 flex justify-content-center border-noround xl:border-round-md relative" [class]="'bg-' + (driverInfo.driver.team.name | SpaceToUnderscore)">
          <img [src]="'data:image/jpg;base64,' + driverInfo.driver.driverImage" alt="Imagen del piloto" class="driversInfo-background-image-principal">
          <img [src]="'data:image/jpg;base64,' + driverInfo.driver.team.logoImage" alt="Logo del equipo" class="absolute right-0 top-0 w-5rem md:w-7rem m-2">
        </div>
      </div>
      <div class="col-12 xl:col-5">
        <div class="flex align-items-center justify-content-center">
          <h1 class="uppercase F1_Regular font-bold text-center text-3xl sm:text-5xl mt-3 mb-0 xl:mb-4 xl:mt-0" [class]="'color-' + (driverInfo.driver.team.name | SpaceToUnderscore)">{{ driverInfo.driver.name }}</h1>
          <h1 class="F1_Regular text-xl sm:text-3xl mt-4 mb-0 ml-2 md:mb-1 xl:mt-1 text-400">{{ driverInfo.driver.number }}</h1>
        </div>
        <div class="grid grid-nogutter F1_Regular m-4 xl:m-0">
          <div class="col-9 sm:col-8 xl:col-7 sm:pl-4 xl:pl-0">
            <p class="font-bold text-base sm:text-lg">Victorias :</p>
            <p class="font-bold text-base sm:text-lg">Poles :</p>
            <p class="font-bold text-base sm:text-lg">Podios :</p>
            <p class="font-bold text-base sm:text-lg">Vueltas rápidas :</p>
            <p class="font-bold text-base sm:text-lg">Carreras terminadas :</p>
            <p class="font-bold text-base sm:text-lg">Puntos totales :</p>
            <p class="font-bold text-base sm:text-lg">Penalizaciones :</p>
            <p class="font-bold text-base sm:text-lg">Mejor posición :</p>
            <p class="font-bold text-base sm:text-lg">Campeonatos :</p>
          </div>
          <div class="col-3 sm:col-4 xl:col-5">
            <p class="text-base sm:text-lg">{{ driverInfo.victories }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.poles }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.podiums }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.fastlaps }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.racesFinished }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.totalPoints }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.penalties }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.bestPosition }}</p>
            <p class="text-base sm:text-lg">{{ driverInfo.championships }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}
