<div class="fantasy-intro relative h-10rem md:h-15rem md:h-20rem lg:h-25rem">
  <h1 class="absolute text-white F1_Bold uppercase m-0 z-1 text-4xl md:text-7xl lg:text-8xl">Fantasy</h1>
  <h1 class="absolute text-white F1_Bold uppercase m-0 z-1 text-4xl md:text-7xl lg:text-8xl">Bollo</h1>
  <img
    src="../../../../assets/images/fantasy/fantasyImage.avif"
    class="w-full h-10rem md:h-15rem md:h-20rem lg:h-25rem"
    alt="Imagen principal"
  />
</div>

<div class="fantasy-howToPlay">
  <div class="surface-50">
    <div class="fantasy-howToPlay-container text-900 flex flex-column lg:flex-row m-auto gap-5 py-7">
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mt-0 mb-4 text-4xl">Crea tu equipo</h2>
        <p class="Fantasy_Regular m-0">
          Escoge tu equipo favorito de 3 pilotos y 2 escuderías, manteniendote
          debajo del presupuesto ficticio de 70 millones. Los tendrás que
          rellenar por cada temporada. El equipo NO se guarda automáticamente,
          se tendrá que guardar y crear cada jornada. Puedes guardar el equipo
          hasta 12 horas antes de la carrera, después no dejará.
        </p>
      </div>
      <div class="flex justify-content-center">
        <img
          src="../../../../assets/images/fantasy/fantasyHowToPlay1.avif"
          alt="Primera imagen del fantasy"
          class="border-round-md"
        />
      </div>
    </div>
  </div>
  <div class="surface-200">
    <div class="fantasy-howToPlay-container text-900 flex flex-column-reverse lg:flex-row m-auto gap-5 py-7">
      <div class="flex justify-content-center">
        <img
          src="../../../../assets/images/fantasy/fantasyHowToPlay2.avif"
          alt="Segunda imagen del fantasy"
          class="border-round-md"
        />
      </div>
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mt-0 mb-4 text-4xl">Precios dinámicos</h2>
        <p class="Fantasy_Regular m-0">
          Los precios van cambiando cada jornada dependiendo del rendimiento del
          jugador en la carrera. De esta manera vas a poder variar tu equipo y
          analizar cual puede ser el mejor equipo para la jornada que viene. Al
          igual también va cambiando el precio de los equipos teniendo el cuenta
          los pilotos de la escudería en específico.
        </p>
      </div>
    </div>
  </div>
  <div class="surface-50">
    <div class="fantasy-howToPlay-container text-900 flex flex-column lg:flex-row m-auto gap-5 py-7">
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mt-0 mb-4 text-4xl">Sistema de puntuación</h2>
        <p class="Fantasy_Regular m-0">
          Los puntos de los pilotos se definirán dependiendo de su rendimiento
          en la carrera. Cuanto más arriba quede el piloto más puntos obtendrán
          al igual que si tiene la vuelta rápida o haya obtenido una pole. No
          obtendrá puntos si consiguió hacer un DNF o si ni siquiera participó.
        </p>
      </div>
      <div class="flex justify-content-center">
        <img
          src="../../../../assets/images/fantasy/fantasyHowToPlay3.avif"
          alt="Tercera imagen del fantasy"
          class="border-round-md"
        />
      </div>
    </div>
  </div>
  <div class="surface-200">
    <div class="fantasy-howToPlay-container text-900 flex flex-column-reverse lg:flex-row m-auto gap-5 py-7">
      <div class="flex justify-content-center">
        <img
          src="../../../../assets/images/fantasy/fantasyHowToPlay4.avif"
          alt="Segunda imagen del fantasy"
          class="border-round-md"
        />
      </div>
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mt-0 mb-4 text-4xl">Clasificación</h2>
        <p class="Fantasy_Regular m-0">
          Compite con tus amigos o compañeros de F1 Bollo para ver quien es el
          mejor jugador del Fantasy Bollo. Todos estarán en la misma liga y
          aunque no juegues al F1 Bollo puedes seguir jugando al Fantasy Bollo y
          estar pendiente de la competición. También podrás ver el equipo que
          escogieron para obtener inspiración.
        </p>
      </div>
    </div>
  </div>
</div>
