<div class="fantasy-intro position-relative">
  <h1 class="position-absolute text-light text-uppercase m-0">Fantasy</h1>
  <h1 class="position-absolute text-light text-uppercase m-0">Bollo</h1>
  <img src="../../../../assets/images/fantasy/fantasyImage.avif" class="w-100 p-0" alt="Imagen principal">
</div>
<div class="fantasy-howToPlay">
  <div class="fantasy-howToPlay-row bg-dark">
    <div class="fantasy-howToPlay-container text-light d-flex flex-column flex-lg-row m-auto">
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mb-4">Crea tu equipo</h2>
        <p class="m-0 text-justify">
          Escoge tu equipo favorito de 3 pilotos y 2 escuderías, manteniendote debajo del presupuesto ficticio de 70 millones.
          Los tendrás que rellenar por cada temporada. El equipo NO se guarda automáticamente, se tendrá que guardar
          y crear cada jornada.
        </p>
      </div>
      <div class="fantasy-howToPlay-container-image d-flex justify-content-center">
        <img src="../../../../assets/images/fantasy/Screenshot_1.png" alt="" class="rounded-2">
      </div>
    </div>
  </div>
  <div class="fantasy-howToPlay-row bg-secondary">
    <div class="fantasy-howToPlay-container text-light d-flex flex-column-reverse flex-lg-row m-auto">
      <div class="fantasy-howToPlay-container-image d-flex justify-content-center">
        <img src="../../../../assets/images/fantasy/Screenshot_2.png" alt="" class="rounded-2">
      </div>
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mb-4">Precios din<span>á</span>micos</h2>
        <p class="m-0">
          Los precios van cambiando cada jornada dependiendo del rendimiento del jugador en la carrera. De esta manera vas a poder
          variar tu equipo y analizar cual puede ser el mejor equipo para la jornada que viene. Al igual también va cambiando el
          precio de los equipos teniendo el cuenta los pilotos de la escudería en específico.
        </p>
      </div>
    </div>
  </div>
  <div class="fantasy-howToPlay-row bg-dark">
    <div class="fantasy-howToPlay-container text-light d-flex flex-column flex-lg-row m-auto">
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mb-4">Sistema de puntuaci<span>ó</span>n</h2>
        <p class="m-0 text-justify">
          Los puntos de los pilotos se definirán dependiendo de su rendimiento en la carrera. Cuanto más arriba quede el piloto
          más puntos obtendrán al igual que si tiene la vuelta rápida o haya obtenido una pole. No obtendrá puntos si consiguió
          hacer un DNF o si ni siquiera participó.
        </p>
      </div>
      <div class="fantasy-howToPlay-container-image d-flex justify-content-center">
        <img src="../../../../assets/images/fantasy/Screenshot_4.png" alt="" class="rounded-2">
      </div>
    </div>
  </div>
  <div class="fantasy-howToPlay-row bg-secondary">
    <div class="fantasy-howToPlay-container text-light d-flex flex-column-reverse flex-lg-row m-auto">
      <div class="fantasy-howToPlay-container-image d-flex justify-content-center">
        <img src="../../../../assets/images/fantasy/Screenshot_3.png" alt="" class="rounded-2">
      </div>
      <div class="fantasy-howToPlay-container-text">
        <h2 class="mb-4">Clasificaci<span>ó</span>n</h2>
        <p class="m-0">
          Compite con tus amigos o compañeros de F1 Bollo para ver quien es el mejor jugador del Fantasy Bollo. Todos estarán en la misma
          liga y aunque no juegues al F1 Bollo puedes seguir jugando al Fantasy Bollo y estar pendiente de la competición. También podrás
          ver el equipo que escogieron para obtener inspiración.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Cambiar de nombre las imagenes y convertirlas a .avif -->
<!-- TODO: Ver las funciones tanto del back como del front creadas para ponerles comentarios -->
<!-- TODO: Subirlo al git y hacer el despliegue con el nuevo certificado -->
<!-- TODO: Ver en móvil como se ve el fantasy por si se necesita algún cambio -->
