<div class="statistics surface-200 p-2 sm:p-5">
  <div class="statistics-topSide surface-100 grid grid-nogutter justify-content-evenly px-4 py-3 border-round">
    <form [formGroup]="optionStatisticsForm" class="col-12 sm:col-6 lg:col-3 flex justify-content-center md:justify-content-start lg:justify-content-center px-0 md:pl-4 lg:px-0">
      <p-dropdown
        formControlName="option"
        [options]="optionStatistics"
        [(ngModel)]="optionStatisticsSelected"
        class="align-self-center md:align-self-baseline"
      ></p-dropdown>
    </form>
    <form [formGroup]="seasonsForm" class="col-12 sm:col-6 flex justify-content-center md:justify-content-start lg:justify-content-center mt-2 sm:mt-0">
      <p-dropdown
        formControlName="season"
        [options]="seasons"
        [(ngModel)]="seasonSelected"
        optionLabel="name"
      ></p-dropdown>
    </form>
  </div>
  @if (driversInfo.length > 0 && optionStatisticsSelected === "Pilotos") {
    <div class="statistics-main mt-2 sm:mt-5 surface-100 border-round">
      <div class="grid grid-nogutter">
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Poles</h1>
          <p-chart type="bar" [data]="dataDriversPoles" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversPoles" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Vueltas rápidas</h1>
          <p-chart type="bar" [data]="dataDriversFastLaps" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversFastLaps" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Victorias</h1>
          <p-chart type="bar" [data]="dataDriversVictories" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversVictories" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Podios</h1>
          <p-chart type="bar" [data]="dataDriversPodiums" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversPodiums" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class=" flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Penalizaciones</h1>
          <p-chart type="bar" [data]="dataDriversPenalties" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversPenalties" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Carreras Terminadas</h1>
          <p-chart type="bar" [data]="dataDriversRacesFinished" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversRacesFinished" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 my-4 px-3">
          <h1 class="text-center mb-0">Puntos totales</h1>
          <p-chart type="bar" [data]="dataDriversTotalPoints" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversTotalPoints" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 my-4 px-3">
          <h1 class="text-center mb-0">Media de puntos</h1>
          <p-chart type="bar" [data]="dataDriversAveragePoints" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataDriversAveragePoints" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
      </div>
    </div>
  } @else if (teamsInfo.length > 0 && optionStatisticsSelected === "Escuderías") {
    <div class="statistics-main mt-2 sm:mt-5 surface-100 border-round">
      <div class="grid grid-nogutter">
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Poles</h1>
          <p-chart type="bar" [data]="dataTeamsPoles" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsPoles" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Vueltas rápidas</h1>
          <p-chart type="bar" [data]="dataTeamsFastLaps" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsFastLaps" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Victorias</h1>
          <p-chart type="bar" [data]="dataTeamsVictories" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsVictories" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Podios</h1>
          <p-chart type="bar" [data]="dataTeamsPodiums" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsPodiums" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Penalizaciones</h1>
          <p-chart type="bar" [data]="dataTeamsPenalties" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsPenalties" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 xl:col-6 my-4 px-3">
          <h1 class="text-center mb-0">Carreras Terminadas</h1>
          <p-chart type="bar" [data]="dataTeamsRacesFinished" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsRacesFinished" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 my-4 px-3">
          <h1 class="text-center mb-0">Puntos totales</h1>
          <p-chart type="bar" [data]="dataTeamsTotalPoints" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsTotalPoints" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
        <div class="flex flex-column col-12 my-4 px-3">
          <h1 class="text-center mb-0">Media de puntos</h1>
          <p-chart type="bar" [data]="dataTeamsAveragePoints" [options]="barChartOptions" class="hidden lg:block"></p-chart>
          <p-chart type="bar" [data]="dataTeamsAveragePoints" [options]="reverseBarChartOptions" class="block lg:hidden"></p-chart>
        </div>
      </div>
    </div>
  } @else if (driversInfo.length === 0 && teamsInfo.length === 0) {
    <p-skeleton height="100vh" styleClass="mt-3 w-full"></p-skeleton>
  }
</div>
