
<div class="title my-4 mx-4 d-flex justify-content-between align-items-center">
  <h3 class="mb-0">Equipo</h3>
  <mat-icon role="button" (click)="closeDialog()">close</mat-icon>
</div>
<div class="drivers d-flex justify-content-around flex-wrap" *ngIf="fantasyElection">
  <div class="drivers-container rounded-1 position-relative">
    <div
      class="drivers-container-points position-absolute rounded-circle d-flex justify-content-center align-items-center"
      *ngIf="fantasyElection.driverOne  && pointsDriverOne != undefined && pointsDriverOne >= 0">
      <span>{{ pointsDriverOne }}</span>
    </div>
    <div class="drivers-driver1 overflow-hidden rounded-1 rounded-bottom-0 d-flex align-items-end justify-content-center pb-1" [class]="'drivers-' + fantasyElection.driverOne?.team?.name">
      <img [src]="'data:image/jpg;base64,' + fantasyElection.driverOne?.driverImage" alt="Imagen del piloto1">
    </div>
    <p class="mb-0 text-center rounded-bottom-1">{{ fantasyElection.driverOne?.name }}</p>
  </div>
  <div class="drivers-container rounded-1 position-relative">
    <div
      class="drivers-container-points position-absolute rounded-circle d-flex justify-content-center align-items-center"
      *ngIf="fantasyElection.driverTwo  && pointsDriverTwo != undefined && pointsDriverTwo >= 0">
      <span>{{ pointsDriverTwo }}</span>
    </div>
    <div class="drivers-driver2 overflow-hidden rounded-1 rounded-bottom-0 d-flex align-items-end justify-content-center pb-1" [class]="'drivers-' + fantasyElection.driverTwo?.team?.name">
      <img [src]="'data:image/jpg;base64,' + fantasyElection.driverTwo?.driverImage" alt="Imagen del piloto2">
    </div>
    <p class="mb-0 text-center rounded-bottom-1">{{ fantasyElection.driverTwo?.name }}</p>
  </div>
  <div class="drivers-container rounded-1 position-relative">
    <div
      class="drivers-container-points position-absolute rounded-circle d-flex justify-content-center align-items-center"
      *ngIf="fantasyElection.driverThree  && pointsDriverThree != undefined && pointsDriverThree >= 0">
      <span>{{ pointsDriverThree }}</span>
    </div>
    <div class="drivers-driver3 overflow-hidden rounded-1 rounded-bottom-0 d-flex align-items-end justify-content-center pb-1" [class]="'drivers-' + fantasyElection.driverThree?.team?.name">
      <img [src]="'data:image/jpg;base64,' + fantasyElection.driverThree?.driverImage" alt="Imagen del piloto3">
    </div>
    <p class="mb-0 text-center rounded-bottom-1">{{ fantasyElection.driverThree?.name }}</p>
  </div>
</div>
<div class="teams mt-3 mb-4 d-flex justify-content-around flex-wrap" *ngIf="fantasyElection">
  <div class="teams-container rounded-1 position-relative">
    <div
      class="drivers-container-points position-absolute rounded-circle d-flex justify-content-center align-items-center"
      *ngIf="fantasyElection.teamOne && pointsTeamOne != undefined && pointsTeamOne >= 0">
      <span>{{ pointsTeamOne }}</span>
    </div>
    <div class="teams-team1 overflow-hidden rounded-1 rounded-bottom-0 d-flex align-items-end justify-content-center" [class]="'teams-' + fantasyElection.teamOne?.name">
      <img [src]="fantasyElection.teamOne?.carImage" alt="Imagen del equipo1">
    </div>
    <p class="mb-0 text-center rounded-bottom-1">{{ fantasyElection.teamOne?.name }}</p>
  </div>
  <div class="teams-container rounded-1 position-relative">
      <div
      class="drivers-container-points position-absolute rounded-circle d-flex justify-content-center align-items-center"
      *ngIf="fantasyElection.teamTwo && pointsTeamTwo != undefined && pointsTeamTwo >= 0">
      <span>{{ pointsTeamTwo }}</span>
    </div>
    <div class="teams-team2 overflow-hidden rounded-1 rounded-bottom-0 d-flex align-items-end justify-content-center" [class]="'teams-' + fantasyElection.teamTwo?.name">
      <img [src]="fantasyElection.teamTwo?.carImage" alt="Imagen del equipo2">
    </div>
    <p class="mb-0 text-center rounded-bottom-1">{{ fantasyElection.teamTwo?.name }}</p>
  </div>
</div>
