@import "../../../../assets/scss/styles.scss";

.fantasySelection {

  &-mid {
    &-form {

      &-drivers-container {
        &-close, &-points {
          height: 1.75rem;
          width: 1.75rem;
          right: -10px;
          top: -10px;
        }

        img {
          transform: translateX(-50%);
        }
      }

      &-teams {
        p {
          margin-top: 0.1rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .fantasySelection {
    &-mid-form {
      &-drivers-container, &-teams-container {
        height: 1.25rem;
        width: 1.25rem;
        right: -10px;
        top: -10px;
      }
    }

    p {
      font-size: 0.65rem;
    }
  }

  ::ng-deep .p-dialog .p-dialog-content {
    padding: 0 0rem 2rem !important;
  }

  ::ng-deep .p-dialog .p-dialog-header {
    padding-right: 0.4rem !important;
  }

}

