<div class="recoverPassword">
  <div class="recoverPassword-header d-flex justify-content-between p-3">
    <h3 class="text-white">¿No te acuerdas de tu contraseña?</h3>
    <mat-icon mat-dialog-close fontIcon="close" class="d-flex justify-content-center text-white" role="button"></mat-icon>
  </div>
  <form [formGroup]="emailForm" class="recoverPassword-form p-5">
    <mat-form-field appearance="fill">
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Correo electrónico"
        autocomplete="off"
      />
      <mat-error *ngIf="emailForm.get('email')?.invalid">Necesitas poner el correo electrónico</mat-error>
    </mat-form-field>
  </form>
  <div class="recoverPassword-footer d-flex justify-content-end mt-2 pe-4">
    <button mat-button class="recoverPassword-footer-emailButton me-3 py-2 px-3 d-flex align-items-center" (click)="sendRecoveryPasswordEmail()">
      Enviar Email <mat-icon fontIcon="send" class="ms-2"></mat-icon>
    </button>
  </div>
</div>
